* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

div#search {
  float: left;
  margin: 5px;
  width: 28%;
  overflow-y: scroll;
}

div#pdf-viewer-container {
  float: right;
  width: 70%;
}

div.search-result {
  margin-top: 10px;
  color:#1111cc;
  text-decoration:none;
}

div.search-result:hover {
  color:#1111cc;
  text-decoration:underline;
}

b.match {
  color:#1111cc;
  font-weight: bold;
}

b.match:hover {
  color:#1111cc;
  text-decoration:underline;
}

div.invisible {
  display: none;
}
