html {
  overflow: hidden;
}

div#window {
}

div#window-content {
}

div#main-container {
  float: left;
  margin: 5px;
  width: 29%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

div#search {
  float: left;
}

div#pdf-viewer-container {
  float: right;
  width: 65%;
}

div.search-result {
  margin-top: 10px;
  color:#1111cc;
  text-decoration:none;
}

div.search-result:hover {
  color:#1111cc;
  text-decoration:underline;
}

b.match {
  color:#1111cc;
  font-weight: bold;
}

b.match:hover {
  color:#1111cc;
  text-decoration:underline;
}

div.invisible {
  display: none;
}
