html {
  overflow: hidden;
}

div#window {
  min-width: 700px;
  margin: 0px;
  padding: 0px;
}

div#sidebar-container {
  float: left;
  width: 30%;
  min-width: 200px;
  overflow-y: scroll;
  overflow-x: hidden;

}
div#search {
  margin: 10px;
  line-height: 1.2;
}

div#pdf-viewer-container {
  float: right;
  width: 70%;
}

div.search-result {
  float: left;
  color:#1111cc;
  text-decoration:none;
}

div.search-result:hover {
  color:#1111cc;
  text-decoration:underline;
}

b.match {
  color:#1111cc;
  font-weight: bold;
}

b.match:hover {
  color:#1111cc;
  text-decoration:underline;
}

div.invisible {
  display: none;
}

div.notification {
  color: red;
}

button.gray {
  color:#AAAAAA;
}

div.config {
  float: right;
  vertical-align: middle;
}

div.result-container {
  margin-top: 10px;
}
