html, body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

div#window {
  min-width: 700px;
  margin: 0px;
  padding: 0px;
}

div#sidebar-container {
  float: left;
  width: 30%;
  height: 32768px;
  min-width: 200px;
  overflow-y: scroll;
  overflow-x: hidden;

}
div#search {
  margin: 10px;
  line-height: 1.2;
}

div#pdf-viewer-container {
  float: right;
  width: 70%;
  height: 32768px;
}

div.search-result {
  float: left;
  color: #1111cc;
  text-decoration: none;
}

div.search-result:hover {
  color:#1111cc;
  text-decoration:underline;
}

b.match {
  color:#1111cc;
  font-weight: bold;
}

b.match:hover {
  color:#1111cc;
  text-decoration:underline;
}

div.invisible {
  display: none;
}

div.notification {
  color: red;
}

button.gray {
  color:#AAAAAA;
}

div.config {
  float: right;
  color: #bbbbbb;
  vertical-align: middle;
}

div.config:hover {
  color: #333333;
}

div.result-summary {
  margin-top: 0.5em;
  -webkit-user-select: text;
}

div.index-title-container {
  clear: both;
}

div.index-component-container {
  padding-bottom: 1.5em;
}

div.result-container {
  margin-top: 10px;
}
div.result-container p {
  -webkit-user-select: text;
}
