html {
  overflow: hidden;
}

div#sidebar-container {
  float: left;
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;

}
div#search {
  margin: 10px;
  line-height: 1.2;
}

div#pdf-viewer-container {
  float: right;
  width: 70%;
}

div.search-result {
  margin-top: 10px;
  color:#1111cc;
  text-decoration:none;
}

div.search-result:hover {
  color:#1111cc;
  text-decoration:underline;
}

b.match {
  color:#1111cc;
  font-weight: bold;
}

b.match:hover {
  color:#1111cc;
  text-decoration:underline;
}

div.invisible {
  display: none;
}

button.gray {
  color:#AAAAAA;
}
